.andy {
  height: 60vh;
  width: 30%;
  position: absolute;
  top: 37%;
  left: 40%;
  z-index: 1500;
}

.tiffany {
  height: 60vh;
  width: 30%;
  position: absolute;
  top: 37%;
  left: 5%;
  z-index: 1500;
}