.envelopeOutline{
  height: 2%;
  width: 4%;
  position: absolute;
  transform: skewX(-65deg) skewY(0deg);
  border: none;
  outline: transparent;
}

#envelopeOne{
  top: 69%;
  right: 68%;
}

#envelopeTwo{
  top: 72%;
  right: 68%;
}

#envelopeThree{
  top: 69%;
  right: 63%;
}

#envelopeFour{
  top: 72%;
  right: 63%;
}

#envelopeFive{
  top: 69%;
  right: 58%;
}

#envelopeSix{
  top: 72%;
  right: 58%;
}

#envelopeSeven{
  top: 69%;
  right: 53%;
}