.tooth-small {
  height: 15%;
  width: 7%;
  position: absolute;
  top: 15%;
  /* right: 0%; */
  left: -22%;
}

.tooth-large {
  height: 50%;
  width: 25%;
  position: absolute;
  top: 25%;
  left: 38%;
 background: rgba(255, 255, 255, 0.803);
 border: 2px solid black;
}

.tooth-small {
  height: 15%;
  width: 7%;
  position: absolute;
  top: 0%;
  right: 0%;
}

.tooth-large {
  height: 50%;
  width: 25%;
  position: absolute;
  top: 25%;
  left: 38%;
  /* border: 2px solid slategray;
  background-color: slategray; */
}

