.tooth-small {
  height: 15%;
  width: 7%;
  position: absolute;
  top: 0%;
  right: 1%;
}

.tooth-large {
  height: 50%;
  width: 25%;
  position: absolute;
  top: 25%;
  left: 38%;
  background: rgba(255, 255, 255, 0.803);
  border: 2px solid black;
}

.horn-small {
  height: 17%;
  width: 9%;
  position: absolute;
  top: 0%;
  right: 7%;
}

.horn-large {
  height: 50%;
  width: 25%;
  position: absolute;
  top: 25%;
  left: 38%;
  background: rgba(255, 255, 255, 0.803);
  border: 2px solid black;
}

.footprint-small {
  height: 17%;
  width: 9%;
  position: absolute;
  top: 0%;
  right: 15%;
}

.footprint-large {
  height: 50%;
  width: 25%;
  position: absolute;
  top: 25%;
  left: 38%;
  background: rgba(255, 255, 255, 0.803);
  border: 2px solid black;
}
